group: travis_latest
dist: trusty
sudo: true
language: python
jobs:
  include:
    - python: "2.7"
    - python: "3.3"
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    - python: "3.7"
      dist: xenial      

install:
  - pip install -U pip

script:
  - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
  - export PYTHON_PIP_VERSION=$(python -c "from __future__ import print_function; import pip; print(pip.__version__)")
  - export PYTHON_VERSION=$(python -c "from __future__ import print_function; import sys; print('.'.join(map(str,sys.version_info[0:3])))")
  - ./build.sh
