dist: trusty
sudo: true
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  # while trusty uses an older version of 3.7, it doesn't matter as we're using docker
  - "3.7-dev"

install:
  - pip install -U pip

script:
  - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
  - export PYTHON_PIP_VERSION=$(python -c "from __future__ import print_function; import pip; print(pip.__version__)")
  - export PYTHON_VERSION=$(python -c "from __future__ import print_function; import sys; print('.'.join(map(str,sys.version_info[0:3])))")
  - if [ "${PYTHON_VERSION}" = "3.7.0" ]; then PYTHON_VERSION="3.7.0rc1"; fi
  - ./build.sh